.plantumlgraph {
    width: 50%;
    margin: 0 auto; /* Центрирование блока */
    overflow: hidden; /* Скрытие содержимого, выходящего за границы */
    display: flex;
    justify-content: center; /* Центрирование содержимого по горизонтали */
    align-items: center; /* Центрирование содержимого по вертикали */
}

.plantumlgraph img {
    max-width: 100%; /* Изображение не превышает ширину контейнера */
    max-height: 100%; /* Изображение не превышает высоту контейнера */
    object-fit: contain; /* Сохранение пропорций изображения */
}